## **Ali Hasnain**

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('suiciderateall.csv')

In [3]:
df.head()

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan *,7.7,7.9,7.9,7.7,7.8,7.6,7.6,7.4,7.2,...,6.7,6.4,6.2,6.2,6.0,6.0,6.0,6.0,5.9,6.0
1,Albania,5.2,4.7,4.8,4.9,4.9,7.7,7.8,8.1,8.1,...,7.6,7.6,4.8,4.8,4.5,4.2,4.2,4.1,3.9,3.7
2,Algeria,4.7,4.6,4.4,4.1,4.0,3.8,3.7,3.5,3.3,...,3.0,2.9,2.9,2.9,2.8,2.7,2.6,2.5,2.6,2.6
3,Angola,17.6,17.5,17.2,17.5,17.2,16.3,17.1,15.0,15.3,...,14.2,13.5,14.2,14.2,13.1,13.3,12.9,12.4,12.4,12.6
4,Antigua and Barbuda,2.0,1.9,1.3,1.4,2.0,1.3,0.4,0.3,0.2,...,0.1,0.2,0.0,0.0,0.4,0.4,0.5,0.0,0.3,0.3

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
label=LabelEncoder()
df['Country']=label.fit_transform(df['Country'])

In [6]:
df.head()

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,0,7.7,7.9,7.9,7.7,7.8,7.6,7.6,7.4,7.2,...,6.7,6.4,6.2,6.2,6.0,6.0,6.0,6.0,5.9,6.0
1,1,5.2,4.7,4.8,4.9,4.9,7.7,7.8,8.1,8.1,...,7.6,7.6,4.8,4.8,4.5,4.2,4.2,4.1,3.9,3.7
2,2,4.7,4.6,4.4,4.1,4.0,3.8,3.7,3.5,3.3,...,3.0,2.9,2.9,2.9,2.8,2.7,2.6,2.5,2.6,2.6
3,3,17.6,17.5,17.2,17.5,17.2,16.3,17.1,15.0,15.3,...,14.2,13.5,14.2,14.2,13.1,13.3,12.9,12.4,12.4,12.6
4,4,2.0,1.9,1.3,1.4,2.0,1.3,0.4,0.3,0.2,...,0.1,0.2,0.0,0.0,0.4,0.4,0.5,0.0,0.3,0.3

In [7]:
x=df.drop('2019', axis=1)
y=df[['2019']]

In [8]:
x

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,0,7.7,7.9,7.9,7.7,7.8,7.6,7.6,7.4,7.2,6.8,6.7,6.4,6.2,6.2,6.0,6.0,6.0,6.0,5.9
1,1,5.2,4.7,4.8,4.9,4.9,7.7,7.8,8.1,8.1,8.0,7.6,7.6,4.8,4.8,4.5,4.2,4.2,4.1,3.9
2,2,4.7,4.6,4.4,4.1,4.0,3.8,3.7,3.5,3.3,3.2,3.0,2.9,2.9,2.9,2.8,2.7,2.6,2.5,2.6
3,3,17.6,17.5,17.2,17.5,17.2,16.3,17.1,15.0,15.3,13.6,14.2,13.5,14.2,14.2,13.1,13.3,12.9,12.4,12.4
4,4,2.0,1.9,1.3,1.4,2.0,1.3,0.4,0.3,0.2,0.0,0.1,0.2,0.0,0.0,0.4,0.4,0.5,0.0,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,178,6.4,6.5,6.2,5.6,5.1,4.8,4.3,4.0,3.7,3.4,3.6,3.8,3.4,2.6,2.3,2.4,2.3,2.2,2.2
179,179,7.2,7.1,7.0,7.0,7.0,6.9,7.0,7.2,7.4,7.3,7.3,7.4,7.5,7.5,7.6,7.6,7.6,7.5,7.4
180,180,8.5,8.4,8.2,8.1,8.1,8.0,7.8,7.7,7.8,7.6,7.4,7.2,7.2,7.1,7.0,6.8,7.0,6.9,7.1
181,181,24.0,22.7,22.3,21.5,22.5,22.1,21.8,19.8,19.0,19.0,19.7,19.8,18.5,17.9,17.7,17.3,16.7,16.7,15.9
182,182,20.0,19.5,20.3,20.2,21.5,22.0,22.0,27.2,31.7,35.2,35.0,34.3,33.1,31.4,30.8,30.7,28.7,25.9,23.9

In [9]:
y

     2019
0     6.0
1     3.7
2     2.6
3    12.6
4     0.3
..    ...
178   2.1
179   7.2
180   7.1
181  14.4
182  23.6

[183 rows x 1 columns]

In [10]:
x.shape, y.shape

((183, 20), (183, 1))

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, train_size=0.7, random_state=1)

In [12]:
from sklearn import svm
model=svm.SVR(kernel='linear')
model.fit(x_train, y_train)

c:\Users\Ali Hasnain\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(kernel='linear')

In [13]:
y_pred=model.predict(x_test)
y_pred

array([17.53139361, 13.44806762, 10.00260017,  1.78908099, 12.05336016,
        3.13463619, 23.04845669, 21.26895106,  6.86605285,  7.8495454 ,
        6.85193856,  6.92148273,  2.62464735,  6.46166827,  4.89884703,
        0.17784757,  7.1751721 , 14.87437157, 15.63535619,  7.0011345 ,
       97.18222254,  9.57821695,  2.84162085,  6.15691266,  5.84804123,
        4.51031595,  2.24504426,  9.18005728,  4.09629433,  7.91948465,
        6.82921071,  3.98993393, 11.07894343,  9.62273789, 12.79913576,
        8.45397512,  7.44443803,  6.99685587,  9.7611471 ,  4.57721776,
        9.36572222,  4.40408618, 10.10949742, 14.42424569,  2.37712763,
       18.40684943, 15.64425482, 24.75832482,  8.23007052,  1.91581286,
        7.99336595,  6.04766707,  5.12429256, 10.9850619 , 20.04668254])

In [14]:
from sklearn import metrics

In [15]:
train = model.score(x_train, y_train)
test = model.score(x_test, y_test)
print("Train score is :", train)
print("Test score is :", test)

Train score is : 0.9974271176928017
Test score is : 0.9844225564056104